h1 {
    font-size: 33px;
    margin-bottom: 32px;
    text-align: center;
}
body {
    color: black;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 32px;
    text-align: center;
    background-image: url("bg.jpg");
    background-repeat: repeat;
    text-shadow: 2px 2px #FFFFFF;

}

p {
    text-align: center;
    
}
button {
    font-size: 120px;
    cursor: pointer;
    width: 192px;
    height: 192px;
    margin-right: 16px;
    margin-top: 16px;
    vertical-align: middle;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    transition: 0.3s;
}
button:hover {
  background-color: #3e8e41;
  color: white;
}

.header-bg{
    width : 800px;
    height: 2300;
    background: rgba(62,186,75,0.6);
    padding : 20px;
    color: black;
    margin: 0 auto;
    margin-top: 50px
}


#scores {
    width: 650px;

   
}
#computerScore {
     float:right;
   
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}